<footer id="footer">
		<div class="row" style="background-color:gray; padding-top:1%">
		  <div class="col-md-2">
				<ul style="list-style-type: none;">
						<li><strong>About</strong></li>
						<li><a href="/about/">About Us</a></li>
						<li><a href="/about/technology/">Technology</a></li>
						<li><a href="/contact/">Contact</a></li>
						<li><a href="/support-us/">Support Us</a></li>
						<!--<li><a href="http://api.sentdex.com" target="blank">API</a></li>-->


				</ul>

		  </div>

		  <div class="col-md-2">
			<ul style="list-style-type: none;">
						<li><strong>Sentiment Analysis and Sentdex</strong></li>
						<li><a href="/sentiment-analysis/">How Sentiment Analysis Works</a></li>
						<li><a href="/about/how-to-use-sentiment-analysis">How to use Sentiment Analysis</a></li>
						<li><a href="/blog/back-testing-sentdex-sentiment-analysis-signals-for-stocks">Sentiment Back-Tested</a></li>


				</ul>

		  </div>
		  <div class="col-md-2">
			<ul style="list-style-type: none;">

						<li><strong>Social</strong></li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="https://twitter.com/sentdex" target="_blank">Twitter</a></li>
						<li><a href="http://www.youtube.com/user/sentdex?sub_confirmation=1" target="_blank">YouTube</a></li>
						<li><a href="https://plus.google.com/+sentdex" target="_blank">Google+</a></li>


			</ul>
		  </div>


		  <div class="col-md-2"><ul style="list-style-type: none;"><li>Nothing on this website is to be taken as investment advice. This website and all of its contents are for educational use only.</li><li>&copy; 2015 Sentdex.com.</li></ul>
				</div>
		</div>
		</footer>
